/* import des fonts */
@font-face {
    font-family: 'themify';
    src: url('../../fonts/themify.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Flaticon';
    src: url('../../fonts/Flaticon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}